$backgroundColor: #7ddcd3;
$nounColour: #f63241;
$translationColour:#f6bb0a;
$choiceColour: #3c3c3b;
$parameter_subtitleColour: #3c3c3b;
$correctAnswerColour: #00c2ca;
$incorrectAnswerColour: #f25c79;

//*{
//  border: solid 1px black;
//}

@font-face {
  font-family: peace_sans;
  src: url(peace_sans.otf);
}

@font-face {
  font-family: gilroy;
  src: url(gilroy-extrabold.otf);
}


html {
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  overflow: hidden;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
}

h1 {
  margin: 0;
  padding: 0;
}

//UTILS CLASSES

.text-align-center{
  text-align: center;
}

.circular_div{
  width: 2vw;
  height: 2vw;
  border: solid 1px black;
  border-radius: 50%;
  background-color: white;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.invisible{
  opacity: 0;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.margin-right-zero{
  margin-right: 0px;
}

.margin-left-zero{
  margin-left: 0px;
}


//PROGRESS DISPLAY

#progress_container{
  margin-top: 8%;
}

.progress_correct_answer{
  background-color: $correctAnswerColour;
}

.progress_incorrect_answer{
  background-color: $incorrectAnswerColour;
}


//NOUN

#noun_container{
  margin-top: 10%;
  line-height: 0;
}

#noun_title{
  font-family: peace_sans;
  color: $nounColour;
  font-size: 20vw;
  -webkit-text-stroke: 1px black;

}

//TRANSLATION

#translation_title{
  font-family: gilroy;
  color: $translationColour;
  font-size: 10vw;
  -webkit-text-stroke: 1px black;
  position: relative;
  bottom: 10%;
}

//CHOICE

#choice_container{
  margin-top: 30%;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  right: 1%;
}

.choice_title {
  color: $choiceColour;
  font-family: peace_sans;
  font-size: 5.4vw;
}

#hand_image{
  width: 55%;
  position: relative;
  bottom: 38%;
  right: 2%;
}

.swipe_hint{
  color: white;
  font-family: peace_sans;
  font-size: 3.1vw;
  position: relative;
  font-weight: 100;
  bottom: 40%;
}


//PARAMETERS

#parameters_container{
  margin-top: 40%;
  position: relative;
  left: 2%;
}

.parameter_symbol{
  width:40%;
}

.parameter_subtitle{
  font-family: gilroy;
  color: $parameter_subtitleColour;
  font-size: 4vw;
  margin-top: 4%;
  font-weight: 100;
}